<section id="newsletter">
  <h1>Blogroll Newsletter</h1>
  <p>Subscribe to the weekly digest newsletter</p>

  <form method="post" action="https://epi.stic.earth/subscription/form">
    <input type="hidden" name="nonce" />
    <input id="9949c" type="hidden" name="l" checked value="9949cb96-c2c6-4f71-97fb-b09206cc86ec" />
    <label for="email">Email</label>
    <input id="email" type="email" name="email" required placeholder="you@example.org" />
    <input type="submit" value="Subscribe" />
  </form>
</section>
