name: IWCB website builder
on:
  push:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:
jobs:
  update:
    name: website
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@master
        with:
          ref: main
      - name: Cache favicons
        uses: actions/cache@v4
        with:
          path: .cache/favicons.json
          key: favicons-${{ github.run_id }}
          restore-keys: |
            favicons-
      - name: python setup
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          cache: pip
      - name: python things
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: run
        run: mkdir -p _site/ && python src/generator.py blogroll.opml _site
      - name: publish
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: gh-pages
          build_dir: _site
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
